{% extends 'layout.html' %}
{% block title %}Contacts{% endblock %}

{% block body %}
<div class="flex flex-row justify-evenly h-full py-20">
    <form action="/addcontact" method="post" class="flex justify-center flex-col items-center w-100 rounded h-130 bg-white text-black gap-10">
            <h1 class="text-5xl">Añadir Contactos</h1>
            <div class="flex flex-col gap-2">
                {{ form.fullname.label }}
                {{ form.fullname(class="form-control shadow-inner shadow-gray-400 py-2 rounded text-center bg-white text-black",placeholder="Nombre")}}
            </div>
            <div class="flex flex-col gap-2">
                {{ form.telefono.label }}
                {{ form.telefono(class="form-control shadow-inner shadow-gray-400 py-2 rounded text-center bg-white text-black",placeholder="Telefono")}}
            </div>
            <div class="flex flex-col gap-2">
                {{ form.submit(class="py-4 px-5 bg-blue-200 rounded cursor-pointer") }}
            </div>
            {{ form.csrf_token  }}
        </form>
    
    <div class="w-100 rounded h-130 text-white">
        <table class=" border-collapse border border-white">
            <thead>
                <tr class="border border-white">
                    <td class="border border-white px-4 py-2">Fullname</td>
                    <td class="border border-white px-4 py-2">Number</td>
                    <td class="border border-white px-4 py-2">Edit</td>
                    <td class="border border-white px-4 py-2">Delete</td>
                </tr>
            </thead>
            <tbody>
                {% for contact in data %}
                <tr class="border border-white">
                    <td class="border border-white px-4 py-2">{{ contact.1}}</td>
                    <td class="border border-white px-4 py-2">{{ contact.2}}</td>
                    <td class="border border-white px-4 py-2">
                        <a class=" bg-green-500 py-1 px-2 rounded btn btn-secondary text-white" href="/edit/{{ contact.0}}">Edit</a>
                    </td>
                    <td class="border border-white px-4 py-2">
                        <a class=" bg-red-500 py-1 px-1 rounded btn btn-warning text-white" href="/delete/{{ contact.0}}">delete</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="">
        <a class="py-3 px-5 bg-red-500 rounded cursor-pointer text-white" href="{{url_for("logout")}}">cerrar sesion</a>
    </div>
</div>
{% endblock %}